
<h4>{{group.name}}</h4>
<button mat-icon-button type="button" (click)="insert()" *ngIf="!editing" title="New">
    <i class="material-icons">add</i>
</button>

<ul class="example-list"
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="drop($event)">
  <li class="example-box" cdkDrag *ngFor="let item of items; let i = index">
    <div class="item-content">
      <div class="title">{{item.title}}</div>
      <div class="href">{{item.href}}</div>
    </div>
    <button mat-icon-button type="button" (click)="delete(i)" title="Delete">
      <i class="material-icons">delete_outline</i>
    </button>
    <button mat-icon-button type="button" (click)="edit(i,item)" title="Edit">
        <i class="material-icons">create</i>
    </button>
  </li>
</ul>
