

<div class="group-header">
  <div>{{group.name}}</div>
  <button mat-icon-button type="button" (click)="insert()" *ngIf="!editing" title="New">
    <i class="material-icons">add</i>
  </button>
</div>

<ul class="example-list"
    cdkDropList
    [cdkDropListData]="items"
    (cdkDropListDropped)="drop($event)">
  <li class="example-box" cdkDrag *ngFor="let item of items; let i = index">
    <div class="item-content">
      <a href="{{item.href}}">{{item.title}}</a>
    </div>
    <button mat-icon-button type="button" (click)="delete(i)" title="Delete">
      <i class="material-icons">delete_outline</i>
    </button>
    <button mat-icon-button type="button" (click)="edit(i,item)" title="Edit">
        <i class="material-icons">create</i>
    </button>
  </li>
</ul>
