<div class="dialog-title">
    <span>{{title}}</span>
    <button mat-button mat-dialog-close> 
        <i class="material-icons">cancel_presentation</i>
    </button>
</div>

<mat-dialog-content class="mat-typography">
    <ng-content></ng-content>
</mat-dialog-content>

<mat-dialog-actions >
    <button mat-button type="button" title="Cancel" (click)="reset()">
        <i class="material-icons">cancel</i>
    </button>
    <button mat-button type="button" [disabled]="!formGroup.valid" title="Save"  (click)="submit()">
        <i class="material-icons">check_circle</i>
    </button>
</mat-dialog-actions>
