.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span{
      font-size: 1.4em;
  }
  margin-bottom: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: right;
}
.mat-form-field-wrapper,
.mat-form-field {
  width:100%;
}

input-text,
input-date,
input-select {
  width:90%;
}