<edit-form
  [formGroup]="form"
  title="Demo Form"
  debug="true"
  (submit)="onSubmit($event)"
  (cancel)="onCancel($event)">

  <input-text
    formControlName="name"
    label="Name"
    hint="Enter the name"
    placeholder="any name...">
  </input-text>

  <input-text
    formControlName="description"
    label="Description"
    hint="Enter the description"
    placeholder="any description will do...">
  </input-text>

  <input-date
    class="form-field-small"
    formControlName="date"
    label="Date"
    hint="Enter a date"
    placeholder="any date...">
  </input-date>

  <input-date
    class="form-field-small"
    formControlName="enddate"
    label="EndDate"
    hint="Enter a date"
    placeholder="The end date.">
  </input-date>

  <input-select
    class="form-field-small"
    formControlName="make"
    [items]="makes"
    label="Pick one"
    hint="pick any one"
    placeholder="The end date.">
  </input-select>



</edit-form>

<!-- <button (click)="setdata()">set date</button> -->
