<edit-form
  [formGroup]="form"
  title="Demo Form"
  debug="true"
  (submitForm)="onSubmit($event)"
  (resetForm)="onReset($event)" >

  <input-text
    formControlName="name"
    label="Name"
    hint="Enter the name"
    placeholder="any name...">
  </input-text>

  <input-text
    formControlName="description"
    label="Description"
    hint="Enter the description"
    placeholder="any description will do...">
  </input-text>

  <input-date
    class="form-field-small"
    formControlName="date"
    label="Date"
    hint="Enter a date"
    placeholder="any date...">
  </input-date>

  <input-date
    class="form-field-small"
    formControlName="enddate"
    label="EndDate"
    hint="Enter a date"
    placeholder="The end date.">
  </input-date>

  <input-select
    class="form-field-small"
    formControlName="make"
    [items]="makes"
    label="Make"
    hint="Select a make.">
  </input-select>

  <input-checkbox
    formControlName="isCommercial"
    label="Commercial Vehicle">
  </input-checkbox>

  <input-radio
    formControlName="type"
    [items]="types"
    label="Vehicle Type">
  </input-radio>

</edit-form>

<!-- <button (click)="setdata()">set date</button> -->
