<edit-form
  [formGroup]="form"
  title="Demo Form"
  debug="true"
  (submitForm)="onSubmit($event)"
  (resetForm)="onReset($event)"
  fxLayout="column">

  <div fxLayout="row"  fxLayoutGap="20px" fxLayoutAlign="space-between">
    <input-text fxFlex
      formControlName="name"
      label="Name"
      hint="Enter the name"
      placeholder="any name...">
    </input-text>

    <input-text fxFlex
      formControlName="description"
      label="Description"
      hint="Enter the description"
      placeholder="any description will do...">
    </input-text>

    <input-select fxFlex
      class="form-field-small"
      formControlName="make"
      [items]="makes"
      label="Make"
      hint="Select a make."
      placeholder="-select-">
    </input-select>

  </div>

  <div fxLayout="row"fxLayoutGap="20px" fxLayoutAlign="start" >

      <input-date fxFlex
        formControlName="date"
        label="Start Date"
        hint="Enter a date"
        placeholder="any date...">
      </input-date>

      <input-date fxFlex
        formControlName="enddate"
        label="End Date"
        hint="Enter a date"
        placeholder="The end date.">
      </input-date>

      <input-checkbox fxFlex
      formControlName="isCommercial"
      label="Commercial Vehicle">
    </input-checkbox>

    <input-radio fxFlex
      formControlName="type"
      label="Vehicle Type"
      [items]="types"
      label="Vehicle Type">
    </input-radio>

  </div>

  <!-- <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start" >
  </div> -->

  <button mat-button type="button" title="Dialog"  (click)="showDialog()">
    Dialog
  </button>

</edit-form>

