<h1 mat-dialog-title>Edit Link</h1>
<div mat-dialog-content>

  <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="data.title" placeholder="Title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="data.href" placeholder="Href">
    </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"  title="Cancel">
      <i class="material-icons">clear</i>
  </button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial title="Save">
      <i class="material-icons">check</i>
  </button>
</div>
