html {
  font-family: Roboto,Arial, Helvetica, sans-serif;
  width:100%;
}

body {
  background-color: #fafafa;
  margin: 0;
  width:100%;
}

main {
  padding: 10px;
}

a {
  padding: 4px 8px;
  text-decoration: none;
}

a:hover {
  background-color: #ddd;
}
