<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Dashboard</h1>
    <span class="menu-spacer"></span>
    <div>
      <a [routerLink]="['home']" mat-button routerLinkActive="active-link">Home</a>
      <a [routerLink]="['links']" mat-button routerLinkActive="active-link">Links</a>
      <a [routerLink]="['demo']" mat-button routerLinkActive="active-link">Demo</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
