.table-view {
  width: 760px;
  margin: 0 auto;

  .table-wrapper{
    height: 800px;
    overflow: auto;
    table {
      width: 100%;
    }

    .mat-form-field {
      font-size: 14px;
      width: 100%;
    }

    .mat-table-sticky {
      border-top: 1px solid #e0e0e0;
    }
  }
}
