<mat-form-field
  appearance="fill"
  [hideRequiredMarker]="false"
  [floatLabel]="true"
  [class.field-readonly]="readonly">

  <mat-label>{{label}}</mat-label>

  <mat-select
      (selectionChange)="selectionChange($event)"
      [value]="value"
      (blur)="onTouched()"
      [disabled]="readonly">
      <mat-option [value]=""></mat-option>
      <mat-option *ngFor="let item of items" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>

  <mat-hint>{{hint}}</mat-hint>

  <mat-error>
    <validation-messages
      controlName="{{formControlName}}"
      [control]="control"
      label="{{label}}"
      [validationMessages]="validationMessages">
    </validation-messages>
  </mat-error>
</mat-form-field>
