<mat-form-field
  appearance="fill"
  [hideRequiredMarker]="false"
  [floatLabel]="true">
  <mat-label>{{label}}</mat-label>

  <input
      matInput
      placeholder="{{placeholder}}"
      [value]="valuefield"
      [readonly]="readonly"
      [matDatepicker]="picker"
      (dateChange)="onDateChange($event)"/>

  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <mat-hint>{{hint}}</mat-hint>
  <mat-error>
    <validation-messages
      controlName="{{formControlName}}"
      [control]="control"
      label="{{label}}"
      [validationMessages]="validationMessages">
    </validation-messages>

  </mat-error>
</mat-form-field>
