<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <input matInput formControlName="title" placeholder="Title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="href" placeholder="Href">
  </mat-form-field>

  <div class="buttonbar">
    <button mat-icon-button type="reset" (click)="onCancel()"  title="Cancel">
        <i class="material-icons">clear</i>
    </button>
    <button mat-icon-button type="submit" title="Save">
        <i class="material-icons">check</i>
    </button>
  </div>

</form>
